.city-card {
    border: 2px solid;
    border-radius: 3%;
    width: 25%;
    height: 40vh;
    margin: 0px 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: larger;
    font-family: cursive;
}

@media only screen and (max-width: 400px) {
    .city-card {
        font-size: smaller;
    }
}