.city-card {
    border: 2px solid;
    border-radius: 3%;
    margin: 1%;
    font-size: larger;
    font-family: cursive;
    background-color: white;
}

@media only screen and (max-width: 400px) {
    .city-card {
        font-size: smaller;
    }
}